<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% if request.session.nomusuario %}
 {{request.sesion.nomusuario}} &nbsp;&nbsp;<a href="{% url 'loginusu'%}">cerrar sesion</a>
{% else %} 
{{request.session.documento}}
<a href="{% url 'loginusu'%}"></a> 
{% endif %}
<body>
 

     <h1>Bienvenido a su rol de administrador</h1>
     <a href="frminsertar">registrar usuario</a>
     <a href="">Actualizar usuario</a>
     <a href="cliente">Consultar usuarios</a>
 




    
     
    
</body>

</html>