<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
    <div class="container"></div>
    <label for="">Login</label>
    {%csrf_token %}
    <input type="text" placeholder="ususario" name="nomusuario">
    <input type="text" placeholder="password" name="clave">
    <input type="submit" value="Ingresar">
</form>

<p>sssss</p>
{%for i in clientes%}
 <p>{{c.documento}}</p>
   {%endfor%}

</p>


</body>
</html>