.fi{
    background-color: rgb(209, 220, 210);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    padding: 20px;
}

.frm{
    background-color: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

[type="text"]{
   display: block;
   width: 98%; 
   height: 30px;
   margin-bottom: 10px;
   border: 0;
   background-color: rgb(208, 232, 242);
   /*border-bottom: 1px solid rgb(1, 1, 30);*/
}


[type="email"]{
    display: block;
    width: 98%;
    height: 30px;
    margin-bottom: 10px;
    border: 0;
    background-color: rgb(208, 232, 242);
}
.ec{
    display: block;
    margin-bottom: 10px;
}
[type="date"]{
display: block;
width: 50%;
height: 30px;
}

.fec{
    display: block;
    margin-top: 20px;

}
label{
    color: rgb(1, 1, 34);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
[type="submit"]{
    margin-top: 30px;
    width: 180px;
    height: 30px;
    background-color: rgb(1, 1, 34);
    color: #fff;
    float: right;
}
legend{
    text-align: center;
    color: rgb(2, 2, 49);
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;

}