.sectiontres{
    background-color: 0;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.tit{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(3, 20, 82);
    margin-bottom: 20px;
 
}

table{
    background-color: gold;
    margin-left: auto;
    margin-right: auto;
    color: blueviolet;
   
}

tr{
 
    background-color: bisque; 
}

th{
    color:red
}


